
  
    <div class="align-items-start">

    <%= render template:"trainings/new", training: @training %>
    </div>
    <hr/>
    <article class="row align-items-center">
      <h3 class="mx-auto">
        Recent trainings
      </h3>
    
        <div class="row ">
            <%= render @public_trainings %>
        </div>
    
    </article>



