<table class="table table-bordered upcoming-table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">User Name</th>
      <th scope="col">Location</th>
      <th scope="col">Title</th>
      <th scope="col"></th>
     </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bootstrap 4 CDN and Starter Template</td>
      <td>Cristina</td>
      <td>913</td>
      <td>
         <button type="button" class="btn btn-success"  data-toggle="tooltip" data-placement="top" title="More details/Edit"><i class="fas fa-edit"></i></button>
         <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Remove"><i class="far fa-trash-alt"></i></button>
   
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bootstrap Grid 4 Tutorial and Examples</td>
      <td>Cristina</td>
      <td>1.434</td>
      <td>
         <button type="button" class="btn btn-success"  data-toggle="tooltip" data-placement="top" title="More details/Edit"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Remove"><i class="far fa-trash-alt"></i></button>
   </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Bootstrap Flexbox Tutorial and Examples</td>
      <td>Cristina</td>
      <td>1.877</td>
      <td>
        <button type="button" class="btn btn-success"  data-toggle="tooltip" data-placement="top" title="More details/Edit"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right" title="Remove"><i class="far fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>