<div class="card col-md-12 px-0 card-user">
        <img class="card-img-top img-responsive cover-img" src="/assets/images/woman-running.jpg" >
        <div class="card-body card-body1">
            <%=image_tag("/assets/images/avatar.jpg",class: "avatar rounded-circle", size: "150x150", alt: "avatar")%>
            <h3 class=" card-title user-name-title"><%=user.name %><a href="#" class="user-name-title-info btn btn-outline-info outline-btn"><span><i class="fas fa-ellipsis-v"></i></span></a></h3>
            <h4 class="card-subtitle mb-2 text-muted">Famous Actor</h4>
            <p class="card-text">... </p>
        </div>
 </div>