<div class="card col-md-12 px-0 card-user">
        <img class="card-img-top img-responsive cover-img" src="/assets/images/woman-running.jpg" >
        <div class="card-body card-body1">
            <%=image_tag("/assets/images/avatar.jpg",class: "avatar rounded-circle", size: "150x150", alt: "avatar")%>
            <h4 class="card-title user-name-title"><%=user.name %></h4>
            <h6 class="card-subtitle mb-2 text-muted">Famous Actor</h6>
            <p class="card-text">... </p>
            <a href="#" class="btn btn-info">Follow</a>
            <a href="#" class="btn btn-outline-info outline-btn">Message</a>
        </div>
 </div>